/* Reset and Base Styles */
body {
    width: 98vw;
    height: 98vh;
    background-image: url('/home/Olwinss/ProjetVue/public/homepagegbg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #000; /* Dark background for a magical feel */
    color: #fff; /* White text for contrast */
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif; /* Classic font for a traditional feel */
}

/* Navigation */
nav {
    text-align: center;
    width: 100%;
    height: 9.33vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000; /* Black background */
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

nav ul li {
    display: inline-flex;
    position: relative;
    height: inherit;
    justify-content: center;
    margin-right: 20px;
    padding: 0 50px;
    transform-origin: center;
    transition: transform 0.5s;
    align-items: center;
}

nav li:hover {
    transform: scale(1.5);
}

/* Title Section */
#title {
    margin-top: 15vh;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-weight: normal;
}

#title h1 {
    font-size: 70px;
    font-weight: bolder;
    color: #fff; /* Light color for the title */
}

#title p {
    text-align: center;
    width: 65%;
    color: #fff; /* Light color for the paragraph */
}

/* Content Section */
#Content {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

/* Table Styles */
table {
    border: 2px solid #00f; /* Blue border for a magical feel */
    border-radius: 3px;
    background-color: #fff;
    width: 100%;
}

th, td {
    min-width: 120px;
    padding: 10px 20px;
}

th {
    background-color: #00f; /* Blue background for the headers */
    color: #fff;
}

td {
    background-color: #fff;
    color: #000;
}

/* Pagination */
#pagination {
    margin-top: 10px;
}

#pagination button {
    margin: 0 5px;
    padding: 5px 10px;
    background-color: rgb(86, 86, 209); /* Blue background for the buttons */
    color: #fff; /* White text for contrast */
}
